body{
  align-items: flex-start;
    background: url("../img/image-1.png") no-repeat center center fixed;;
    background-position: 50% 50%;
    background-size: cover;
    align-items: center;
    display: flex;
    gap: 513px;
    height: 922px;
    min-width: 1440px;
    padding: 19px 30px;
}

.title{
  color: #ffffff00;
}
.contianer{
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  
}

.container-auth{
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: 0 auto;
}

h1{
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
h2{
  color: rgba(67, 74, 79, 0.749);
  display: flex;
  justify-content: center;

}
.user-input{
  display: flex;
  flex-direction: column;
}

input, login-continer{
  height: 45px;
  width: 87%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  padding: 0 0 0 45px;
  background: rgba(132, 152, 152, 0.3);
  


}
input:hover{
  box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);

}

.login-continer{
  font-size: 20px;
  align-items: center;
  color: white;

}
a{
  color: black;
}

.registeration-btn{
  border: none;
  border-radius: 10px;
  font-size: 15px;
  height: 45px;
  outline: none;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  transition: .3s;
  

}

.registeration-btn:hover{
  box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}
